<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration Form</title>
</head>
<style>
.color{
    color:red;
}
</style>
<body>
    <form action="" method="POST">{% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
    <input type="submit" value="Login">
    <a href="{% url 'signup' %}"> SignUp </a>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="color">{{ error }}</P>
        {% endfor %}
        {% endif %}
    </form>
</body>
</html>